<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AddUser.AddUser" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <appSettings>
        <add key="Servers" value="Development;UAT;Production" />
        <add key="Development-ConnectionString" value="Data Source=USE1DEVICRSQL01;Initial Catalog=PeerAMid;Integrated Security=true;TrustServerCertificate=true;" />
        <add key="UAT-ConnectionString" value="Data Source=USE1UATICRSQL01;Initial Catalog=PeerAMid;Integrated Security=true;TrustServerCertificate=true;" />
        <add key="Production-ConnectionString" value="Data Source=USE1PRDICRSQL01;Initial Catalog=PeerAMid;Integrated Security=true;TrustServerCertificate=true;" />
    </appSettings>
</configuration>