@using PeerAMid.Support
@{
    ViewBag.Title = "Search Result";
    Layout = "~/Views/Shared/_PeerAMidLayout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/PeerAmidContent/plugins/datatable/dataTables.bootstrap4.min.css">
<script src="~/PeerAmidContent/plugins/datatable/jquery.dataTables.min.js"></script>
<script src="~/PeerAmidContent/plugins/datatable/dataTables.bootstrap4.min.js"></script>
<script src="~/PeerAmidContent/js/common.js"></script>
<header class="border-bottom px-3 py-2 bg-light size14">
    <strong>Please select your “Benchmark Client” company from the following list:</strong>
    <input type="hidden" id="hdnCompanyId" value="@SessionData.Instance.BenchmarkCompany.Id"/>
    <input type="hidden" id="hdnCompanyYear" value="@SessionData.Instance.BenchmarkCompany.FinancialYear"/>
</header>
<!--“Benchmark Client” company selection-->
<div class="container-fluid">
    <section class="mt-3 mb-2">
        <!--Binding searcing results  in table-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-hover" id="table1">
            <thead class="bg-dark text-white">
            <tr>
                <th width="5%" class="text-center" scope="col">Select</th>
                <th align="left" scope="col">Company Name</th>
                <th width="9%" align="left" scope="col">Ticker</th>
                <th width="35%" align="left" scope="col">Industry</th>
                <th width="10%" class="text-right" scope="col">Revenue <small>(in US$ MM)</small></th>
                <th width="5%" class="text-center" scope="col">FY</th>
            </tr>
            </thead>

            <tbody></tbody>
        </table>
    </section>

    <section class="border-top py-2">
        <a href="/PeerAMid/Search" class="btn btn-outline-secondary">Back</a>
        <a href="javascript:void(0)" onclick="navigateToPeerSelection();" class="btn btn-secondary ml-3">Next</a>
    </section>
</div>

<script type="text/javascript">
    // Code to exectue after page is loaded
    //search company data and bind in Company grid list.Procedure name Proc_GetAllcompanyList
    $(document).ready(function() {
        var cSearch = '@SessionData.Instance.cSearch';
        var tSearch = '@SessionData.Instance.tSearch';
        const oTable = $('#table1').dataTable({
            "bServerSide": true,
            "searching": false,
            "info": false,
            "sAjaxSource": "/PeerAMid/BenchmarkCompanySearchResults",
            "fnServerParams": function(aoData) { aoData.push({ "name": "cSearch", "value": cSearch }, { "name": "tSearch", "value": tSearch }); },
            "sServerMethod": "POST",
            "bProcessing": true,
            "language": {
                "infoFiltered": "",
                "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>'
            },
            "bDestroy": true,
            "iDisplayLength": 10,
            "lengthMenu": [[10, 20, 50, 100], [10, 20, 50, 100]],
            "bPaginate": true,
            "sDom": 'lfrtip',
            "scrollY": 300,
            //"scrollX": true,
            'bFilter': false,
            "ordering": false,
            //order": [[ 1, 'asc' ]],
            //"columnDefs": [{ orderable: false, "targets": [0, 2, 5] }],
            "aoColumns": [
                {
                    "mRender": function(data, type, row) {
                        const hdnCompanyId = $('#hdnCompanyId').val() || "";
                        var editHtml = "";
                        if (row.CompanyId == hdnCompanyId) {
                            editHtml = `<input type="radio" name="radioCompany" class="radioCompanyClass" id="${row.CompanyId}" value="${row.CompanyId}" checked>`;
                        } else {
                            editHtml = `<input type="radio" name="radioCompany" class="radioCompanyClass" id="${row.CompanyId}" value="${row.CompanyId}">`;
                        }
                        return editHtml;
                    },
                    "sClass": "text-center"
                },
                { "mData": "CompanyName" },
                { "mData": "Ticker" },
                { "mData": "Industry" },
                {
                    "mRender": function(data, type, row) {
                        const editHtml = Math.round(row.Revenue);
                        return numberWithCommas(editHtml);
                    },
                    "sClass": "text-right"
                },
                { "mData": "FinancialYear", "sClass": "text-center year" }
            ],
            "fnServerData": function(sSource, aoData, fnCallback) {
                $.post(sSource,
                    aoData,
                    function(json) {
                        fnCallback(json);
                    }).done(function() {
                }).fail(function handleError(jqXhr, statusText, errorThrown) {
                    if (jqXhr.status == 401) {
                        window.location.reload();
                    }
                });
            },
            "fnRowCallback": function(nRow, aData, iDisplayIndex) {
                //Add onclick event
                $(nRow).attr('onclick', "radiobuttonSelected(this)");
                return nRow;
            },
        });
    });

    //Get Benchmark Company data and redirect in Peer selection option page.Procedure name Proc_GetCompanyDetail
    function navigateToPeerSelection() {
        const uid = $('#hdnCompanyId').val() || 0; //$("input[name='radioCompany']:checked").val();
        const year = $('#hdnCompanyYear').val() || ''; //$("input[name='radioCompany']:checked").closest("tr").find('.year').text();
        if (radioValue != 0 && radioValue != undefined) {
            const navigateUrl = '/PeerAMid/PeerSelectionOption';
            console.log("navigateToPeerSelection");
            setBenchmarkCompany(uid, year, "", (r) => {
                if (r == 1) window.location.href = navigateUrl;
            });
        } else {
            bAlert('Please select benchmark company');
        }
    }

    //Select Company via radi button selection.
    function radiobuttonSelected(tr) {
        const radio = $(tr).find("input:radio");
        $(radio).prop("checked", true);
        $('#hdnCompanyId').val($(radio).val());
        $('#hdnCompanyYear').val($(radio).closest("tr").find('.year').text());
    }
</script>