#contactCenter, #page21, #page5, #page8, #page9, #page10, #page11, #page12, #page13, #page14, #page22, #page7, #page4, #page19, #page6, #page23, #page3 { height: 807px; }

.generatePDFFooter { border-top: 1px solid transparent !important; }

.footerLeftContent { color: #555 !important; }

.footerCenterPageNo { display: none; }